$white: #fff;
$black: #323232;
$accent: #ed8762;
$gray: #ece3da;

$ff-noto-sans-jp: 'Noto Sans JP', sans-serif;
$ff-shippori-mincho: 'Shippori Mincho', serif;

$leading-trim: calc((1em - 1lh) / 2);

// margins/paddings
$sm: 8px;
$m: 16px;
$lg: 24px;
$xl: 48px;
$xxl: 64px;
$xxxl: 180px;

// width
$w-sp: 390px;
$w-tab: 768px;
$w-ms: 940px;
$w-m: 1040px;
$w-lg: 1240px;
$w-full: 100%;
